.process{

background:#fff;

}

.process-grid{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:25px;

margin-top:50px;

}

.process-card{

padding:40px 25px;

background:#F8FAFC;

border-radius:18px;

border:1px solid var(--border);

text-align:center;

transition:.3s;

}

.process-card:hover{

transform:translateY(-8px);

box-shadow:var(--shadow);

}

.process-number{

width:65px;

height:65px;

margin:auto;

margin-bottom:25px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:var(--primary);

color:white;

font-size:22px;

font-weight:700;

}
