@media(max-width:1100px){

.hero-grid,
.about-grid{

grid-template-columns:1fr;

}

.services-grid,
.industry-grid{

grid-template-columns:repeat(2,1fr);

}

.process-grid{

grid-template-columns:repeat(3,1fr);

}

.why-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.nav-links{

display:none;

}

.hero{

padding:70px 0;

}

.hero h1{

font-size:42px;

}

.hero-buttons{

flex-direction:column;

}

.services-grid,
.industry-grid,
.process-grid,
.why-grid{

grid-template-columns:1fr;

}

.section-title{

font-size:34px;

}

}
